.vid__container {
  margin: 0 0 1.9em;
  padding: 0;
  @include mq(tablet) {
    margin-top: 3em;
  }
}

[data-start] {
  cursor: pointer;
}

.mejs__container {
  margin: 0 auto;
}

.mejs__controls:not([style*="display: none"]) {
  background: linear-gradient($progress-bar-light, $progress-bar-dark);
  @include mq(tablet) {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 3.2em;
    align-items: center;
  }
}
