.vid__container {
  margin: 0 0 1.9em;
  padding: 0;
  @include mq(tablet) {
    margin-top: 3em;
  }
}

.vid__player {
  // max-width: 768px;
}

[data-start] {
  cursor: pointer;
}

.mejs__container {
  margin: 0 auto;
}
